body {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
  }
  
  th, td {
    padding: 6px 12px;
    text-align: left;
    border-bottom: 1px solid #040404;
    max-width: 200px;
    overflow-wrap: break-word;
  }

  input {
    border: 1px solid #040404;
    padding: 6px 10px;
    border-radius: 4px;
  }
  input::placeholder {
    color: #000000;
  }